{:address "Avª Dr. Fernando Aroso 1242 4450-664 LEÇA da PALMEIRA",
 :name "Sentido Reversível",
 :href-id #uuid "1892aa60-54b6-3af8-9264-87a03db1b210",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Sentido%20Revers%c3%advel.aspx",
 :concelho "Matosinhos",
 :nec 1117,
 :cp7 "4450-664",
 :id #uuid "12c7a572-fa46-380f-b507-955eebacac8a",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Matosinhos"}
