{:address "Rua da Cruz de Pau, n.º 116, 4450-103 Matosinhos",
 :name "Nova de Matosinhos",
 :href-id #uuid "87d842d2-9742-30bd-bf7f-0c22a94573df",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/NovadeMatosinhos.aspx",
 :concelho "Matosinhos",
 :nec 1355,
 :cp7 "4450-103",
 :id #uuid "616b0129-2c05-39d8-95ff-d932bef29ab7",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Matosinhos"}
