{:address "Av. Joaquim Neves dos Santos, n.º 697 ; 4460-125 Guifões",
 :name "Guifões",
 :href-id #uuid "c7400ec6-a61a-324a-b573-1455a9ed6c84",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Guifoes506.aspx",
 :concelho "Matosinhos",
 :nec 1137,
 :cp7 "4460-125",
 :id #uuid "fc305155-01d6-38ec-af89-03ce41307985",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Matosinhos"}
