{:address
 "Rua Professora Olga Passos, n.º 1, 2675-639 ODIVELAS, freguesia de Póvoa de Santo Adrião e Olival Basto ",
 :name "Ecodrive",
 :href-id #uuid "3294707e-ed94-3d99-8a23-2eac27fe58e9",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Ecodrive.aspx",
 :concelho "Odivelas",
 :nec 1393,
 :cp7 "2675-639",
 :id #uuid "70ad66c8-a4bc-355a-a1c5-55fa9d953d97",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Odivelas"}
