{:address "Rua Paiva de Andrade, Nº 12 – A 2675-424 ODIVELAS",
 :name "Jante Integral",
 :href-id #uuid "54725e1b-de21-3925-940c-f6ba72964ca3",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/JanteIntegral573.aspx",
 :concelho "Odivelas",
 :nec 1153,
 :cp7 "2675-424",
 :id #uuid "5850fcb8-0f0d-3cd2-a030-a014ce9a6dd0",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Odivelas"}
