{:address "Rua Álvaro Campos, nº 1, loja 1 P 2675-768 RAMADA",
 :name "Jardim do Radial",
 :href-id #uuid "fc428bb3-98a4-3abe-aeca-a83b56f14030",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/JardimdoRadial574.aspx",
 :concelho "Odivelas",
 :nec 940,
 :cp7 "2675-768",
 :id #uuid "b9516ee7-f41e-3875-bc88-209305e90c62",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Odivelas"}
