{:address "Rua das Mangas,s/nº 2485-075 MIRA D'AIRE",
 :name "A Gruta",
 :href-id #uuid "ae016f62-0857-3bce-9e95-c5be868943de",
 :distrito "Leiria",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/AGruta021.aspx",
 :concelho "Porto de Mós",
 :nec 958,
 :cp7 "2485-075",
 :id #uuid "6b36e0ee-6f52-3139-a4e2-c4d1d8fd95e1",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Leiria&Concelho=Porto%20de%20M%C3%B3s"}
