{:address "Rua Principal, n.º 8, 2480-173 LEÕES",
 :name "A. Garcia",
 :href-id #uuid "c809a0d8-ea86-3471-ad7c-bb7fb963148f",
 :distrito "Leiria",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/AGarcia019.aspx",
 :concelho "Porto de Mós",
 :nec 526,
 :cp7 "2480-173",
 :id #uuid "88ffa9a5-73e3-3ab2-a1b1-c567e07194d6",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Leiria&Concelho=Porto%20de%20M%C3%B3s"}
