{:address "Rua da Cumieira, n.º 6, r/c, 4820-179 Fafe",
 :name "Nova Fafe",
 :href-id #uuid "7c25eff0-7968-325d-98c8-970d5f493d17",
 :distrito "Braga",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/NovaFafe.aspx",
 :concelho "Fafe",
 :nec 1416,
 :cp7 "4820-179",
 :id #uuid "ce7acda1-c74a-3ab0-8c7f-9d8402fb9783",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Braga&Concelho=Fafe"}
