{:address "Rua 1º de Dezembro, Nº 30 8500 -001 ALVOR",
 :name "Dalvor",
 :href-id #uuid "a4024319-bb4b-35ed-b468-ea4de033e1f0",
 :distrito "Faro",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Dalvor363.aspx",
 :concelho "Portimão",
 :nec 1209,
 :cp7 "8500-001",
 :id #uuid "b13cae0a-036b-3fbc-aa96-ff529dc11e24",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Faro&Concelho=Portim%C3%A3o"}
