{:address "Rua Tomé Adelino Vidigal, 14 - 7050 - MONTEMOR-O-NOVO",
 :name "Easydrive",
 :href-id #uuid "80fdf6fc-a57c-33cc-b13c-8328baaf5293",
 :distrito "Évora",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/PeroRodrigues787.aspx",
 :concelho "Montemor-o-Novo",
 :nec 705,
 :cp7 "7050",
 :id #uuid "1974537b-a6c2-3d8d-a8b0-b9da8a918cb2",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Evora&Concelho=Montemor%20o%20Novo"}
