{:address "Rua de S. Pedro, Nº 8 7470 - 181 SOUSEL",
 :name "Sousel",
 :href-id #uuid "0db3c7e7-fc84-3195-bafd-0d7004b4e3d9",
 :distrito "Portalegre",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Sousel985.aspx",
 :concelho "Sousel",
 :nec 296,
 :cp7 "7470-181",
 :id #uuid "294e0f4b-5044-3a03-91c5-154ee13af7bd",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Portalegre&Concelho=Sousel"}
