{:address "Trav. do Barão de S. Cosme,nº 7 2000-223 SANTARÉM",
 :name "Chamusca",
 :href-id #uuid "8ef87a9a-8bd1-3a5c-a9e3-5031109418fe",
 :distrito "Santarém",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Chamusca307.aspx",
 :concelho "Santarém",
 :nec 448,
 :cp7 "2000-223",
 :id #uuid "273a3b27-8e5c-3bcc-be10-5c21584f7cce",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Santarem&Concelho=Santar%C3%A9m"}
