{:address "Avª Terras de Sena, Nº 65 R/C Dtº 6270-485 SEIA",
 :name "Costa de Prata",
 :href-id #uuid "060c3aed-c626-343d-9b3a-892b1940e29d",
 :distrito "Guarda",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/CostadePrata341.aspx",
 :concelho "Seia",
 :nec 182,
 :cp7 "6270-485",
 :id #uuid "e4f2a166-fea3-3902-96a9-a543a8a1a36f",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Guarda&Concelho=Seia"}
