{:address
 "Rua Maria do Carmo Carmona-Edificio Terra Quente, Nº 10 5430-469 VALPAÇOS",
 :name "Nossa Senhora da Saúde",
 :href-id #uuid "62640512-7dce-3169-8b91-4383f32c8144",
 :distrito "Vila Real",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/NossaSenhoradaSaude697.aspx",
 :concelho "Valpaços",
 :nec 703,
 :cp7 "5430-469",
 :id #uuid "60cff1e8-641d-3db8-863a-76199bed9093",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=vilareal&Concelho=Valpa%C3%A7os"}
