{:address
 "Avª dos Combatentes da Grande Guerra n º 342 4620-141 CRISTELO",
 :name "Volante Livre",
 :href-id #uuid "651d4d2f-953d-390f-8d11-671a03417458",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/VolanteLivre1087.aspx",
 :concelho "Lousada",
 :nec 827,
 :cp7 "4620-141",
 :id #uuid "f62830a0-0f78-3291-badc-9de34a2be3dd",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Lousada"}
