{:address "Avª 25 de Abril, Nº 23 R/C 3620-304 MOIMENTA DA BEIRA",
 :name "Reis",
 :href-id #uuid "40582b49-6a40-3e0e-9d7d-984a37b13f7b",
 :distrito "Viseu",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Reis842.aspx",
 :concelho "Moimenta da Beira",
 :nec 337,
 :cp7 "3620-304",
 :id #uuid "4e268acb-e114-3f42-9943-ea22157b3a76",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Viseu&Concelho=Moimenta%20da%20Beira"}
