{:address "Rua Luis de Camões, Nº 37 3530-214 MANGUALDE",
 :name "Miguel Ângelo",
 :href-id #uuid "a9d25a89-0ca5-3bfb-a2f3-0239ef5b01f0",
 :distrito "Viseu",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/MiguelAngelo645.aspx",
 :concelho "Mangualde",
 :nec 982,
 :cp7 "3530-214",
 :id #uuid "710424a5-42fb-317e-a574-de3ebfe2b9a9",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Viseu&Concelho=Mangualde"}
