{:address "Praceta de S. Cristóvão, 4/5 2705-830 TERRUGEM SNT",
 :name "Terrugem",
 :href-id #uuid "5404df6f-bbeb-318b-9ebd-575600092c66",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Terrugem1007.aspx",
 :concelho "Sintra",
 :nec 837,
 :cp7 "2705-830",
 :id #uuid "5e82ffee-7258-36e6-a14c-b119ec3fd82e",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Sintra"}
