{:address "Rua Cidade de S. Salvador nº 17 loja C 2735-651 CACÉM",
 :name "Triângulo Azul",
 :href-id #uuid "a1efda25-9c3d-3706-ac8b-e9681d7e4d3d",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/TrianguloAzul1020.aspx",
 :concelho "Sintra",
 :nec 971,
 :cp7 "2735-651",
 :id #uuid "96ebf7ec-6dd2-3fc9-b4c5-09a9059fe696",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Sintra"}
