{:address
 "Avª dos Bons Amigos, Bloco B Lote 4 cave 2735-001 Agualva - CACÉM",
 :name "Prudentes do Volante",
 :href-id #uuid "b0a81698-f3a6-32a4-8961-eadceb60f9b2",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/PrudentesdoVolante826.aspx",
 :concelho "Sintra",
 :nec 404,
 :cp7 "2735-001",
 :id #uuid "6f920e4c-afdd-3841-bf33-b84b65b6093c",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Sintra"}
