{:address
 "Av. Principal, n.º 1152 r/c, Quinta do Conde 1, 2975-246 Quinta do Conde",
 :name "Quinta do Conde",
 :href-id #uuid "cb09a2cc-205a-3baf-8c90-89b251778898",
 :distrito "Setúbal",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/EscoladeCondu%c3%a7%c3%a3oQuintadoConde.aspx",
 :concelho "Sesimbra",
 :nec 1406,
 :cp7 "2975-246",
 :id #uuid "41482ca0-23e1-33cb-96b8-8e31b29eb787",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Setubal&Concelho=Sesimbra"}
