{:address "Estrada de Quelfes nº 69 B r/c 8700-218 QUELFES",
 :name "Auto Quelfes",
 :href-id #uuid "d93769cd-57e3-3803-8f2e-28ef93fc2df5",
 :distrito "Faro",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/AutoQuelfes172.aspx",
 :concelho "Olhão",
 :nec 727,
 :cp7 "8700-218",
 :id #uuid "6fb5395e-8a7d-3d0e-a9cb-d55fda862ec8",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Faro&Concelho=Olh%C3%A3o"}
