{:address "Rua S. João - Edif. S. João, Bloco A - S/Nº 3840-429 VAGOS",
 :name "Nova de Vagos",
 :href-id #uuid "9fb19a1a-3e1e-34ab-9ef6-fd6bf1af8715",
 :distrito "Aveiro",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/NovadeVagos707.aspx",
 :concelho "Vagos",
 :nec 1136,
 :cp7 "3840-429",
 :id #uuid "cc9150e7-b534-32f7-8ecf-343f85fb22d4",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Aveiro&Concelho=Vagos"}
