{:address
 "Rua Dr. Joaquim Sotto Mayor, n.º 101, 3080-300 FIGUEIRA DA FOZ",
 :name "Abadias",
 :href-id #uuid "f2bafa9c-92d4-3ecd-8d57-e69324d9a423",
 :distrito "Coimbra",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Abadias047.aspx",
 :concelho "Figueira da Foz",
 :nec 673,
 :cp7 "3080-300",
 :id #uuid "519e7f07-28fb-39b2-b206-be2e61d7dd6e",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Coimbra&Concelho=Figueira%20da%20Foz"}
