{:address "Rua de São Victor, n.º 33 – R/C São Victor 4710-249 BRAGA",
 :name "Central do Sameiro",
 :href-id #uuid "6c697392-c8a2-3546-987b-7c4d151bd409",
 :distrito "Braga",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/CentraldoSameiro303.aspx",
 :concelho "Braga",
 :nec 61,
 :cp7 "4710-249",
 :id #uuid "9ec0b1c7-6204-3539-a78a-edfa6deea158",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Braga&Concelho=Braga"}
