{:address
 "Avª Dr.Francisco Sá Carneiro, Lote 29 r/c Dtº (Prédio S. Lucas) 5300-252 BRAGANÇA (SÉ)",
 :name "Carta - Auto",
 :href-id #uuid "09b199a4-2474-372d-9c0c-e51bd36036e7",
 :distrito "Bragança",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/CartaAuto291.aspx",
 :concelho "Bragança",
 :nec 555,
 :cp7 "5300-252",
 :id #uuid "51ce98ba-4ef3-315c-9b1e-f7ea5c8fa384",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Braganca&Concelho=Bragan%C3%A7a"}
