{:address
 "Loteamento Santa Apolónia –Lote 1 r/c Esqº 5300-254 BRAGANÇA",
 :name "Terra Fria",
 :href-id #uuid "58b408aa-039e-3d06-8e38-d95825b96b59",
 :distrito "Bragança",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/TerraFria1004.aspx",
 :concelho "Bragança",
 :nec 722,
 :cp7 "5300-254",
 :id #uuid "13aa4ed1-f159-3d12-b3e3-0c78faefee5d",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Braganca&Concelho=Bragan%C3%A7a"}
