{:address "Bairro 1º de Maio, nº 109 A - 110 A e 111 7520-124 SINES",
 :name "Vasco da Gama",
 :href-id #uuid "e09341ad-46bc-3bf4-8ff7-4101fa62be14",
 :distrito "Setúbal",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/VascodaGama1040.aspx",
 :concelho "Sines",
 :nec 305,
 :cp7 "7520-124",
 :id #uuid "a108e401-d5e5-3dea-99d0-e9143d83201c",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Setubal&Concelho=Sines"}
