{:address "Rua de Acesso à Ribeira do Amioso, 1º-Esqº 6100-758 SERTÃ",
 :name "Moderna – Sertã",
 :href-id #uuid "aec6b637-f478-3166-a7c3-c831f320c4a9",
 :distrito "Castelo Branco",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Moderna%e2%80%93Serta658.aspx",
 :concelho "Sertã",
 :nec 567,
 :cp7 "6100-758",
 :id #uuid "6586ae33-7597-3b10-b637-79550b0bdfd5",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=CasteloBranco&Concelho=Sert%C3%A3"}
