{:address "Rua Dr. Carlos França nº 27 A 2560 TORRES VEDRAS",
 :name "M. Silva",
 :href-id #uuid "db03feba-57a0-334a-b07f-d189df5b4473",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/MSilva616.aspx",
 :concelho "Torres Vedras",
 :nec 25,
 :cp7 "2560",
 :id #uuid "da18076d-e196-3d5e-947f-9ef902b4fc6a",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Torres%20Vedras"}
