{:address
 "Urb. das Lameiras, Loja 1 – Rua Drº Eduardo dos Santos 3525-072 CANAS DE SENHORIM",
 :name "Santarense",
 :href-id #uuid "f199609b-d607-344c-9c9a-b7413f86b099",
 :distrito "Viseu",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Santarense936.aspx",
 :concelho "Nelas",
 :nec 618,
 :cp7 "3525-072",
 :id #uuid "4a74faa6-e8fb-3c05-aaea-60d04fd6e173",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Viseu&Concelho=Nelas"}
