{:address "Avª 25 de Abril, Nº 120 Porta D-2º Andar 3830-044 ÍLHAVO",
 :name "Auto Instrutora do Ílhavo",
 :href-id #uuid "9d6e770a-2a34-307b-a92d-f91640bd40f7",
 :distrito "Aveiro",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/AutoInstrutoradoIlhavo160.aspx",
 :concelho "Ílhavo",
 :nec 121,
 :cp7 "3830-044",
 :id #uuid "6cad1e89-1ab1-3f91-8f8f-3ddce439b521",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Aveiro&Concelho=Ilhavo"}
