{:address "Av Zeferino de Oliveira, n.º 26, 4560-494 Penafiel",
 :name "Croca",
 :href-id #uuid "bc286cd4-6b58-3452-98a3-f1e5aa21a133",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/SameirodePenafiel911.aspx",
 :concelho "Penafiel",
 :nec 731,
 :cp7 "4560-494",
 :id #uuid "51e18e6d-8bb5-3770-ae01-3108f1ac1e15",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Penafiel"}
