{:address "Rua António Nobre 16- A 3400-084 OLIVEIRA DO HOSPITAL",
 :name "Fica",
 :href-id #uuid "3e2143ad-0ab9-3159-8ad2-142310889da2",
 :distrito "Coimbra",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Fica454.aspx",
 :concelho "Oliveira do Hospital",
 :nec 715,
 :cp7 "3400-084",
 :id #uuid "881ff11f-5e05-375e-8020-476092082152",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Coimbra&Concelho=Oliveira%20Hospital"}
