{:address "Rua Aníbal Dias, n,.º 10 r/c, 3450-150 Mortágua",
 :name "Smart Road",
 :href-id #uuid "451a594b-9b53-3f54-af68-07b0685a3194",
 :distrito "Viseu",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/SmartRoad.aspx",
 :concelho "Mortágua",
 :nec 1440,
 :cp7 "3450-150",
 :id #uuid "7cd6e868-46be-3b83-9fe0-f72734cf1fc6",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Viseu&Concelho=Mort%C3%A1gua"}
