{:address
 "Rua Sebastião do Couto, Nº 1-A vila Lusitano 7005-610 ÉVORA",
 :name "Vila Lusitano",
 :href-id #uuid "dc081dc5-6299-3566-855f-76316df5ce39",
 :distrito "Évora",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/VilaLusitano1066.aspx",
 :concelho "Évora",
 :nec 1174,
 :cp7 "7005-610",
 :id #uuid "21df166e-9b40-38e5-827f-59b7046245e7",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Evora&Concelho=%C3%89vora"}
