{:address
 "Largo dos Combatentes da Grande Guerra, Nª 6 8400-338 LAGOA",
 :name "Infante de Sagres - Lagoa",
 :href-id #uuid "5c275b16-275a-3b85-abbd-ffc96c40cf9d",
 :distrito "Faro",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/InfantedeSagresLagoa535.aspx",
 :concelho "Lagoa",
 :nec 207,
 :cp7 "8400-338",
 :id #uuid "2f9f52f9-27bd-3ca8-8d9c-6683799c5c70",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Faro&Concelho=Lagoa"}
