{:address "Rua Central da Gandra nº 1261 4585-248 GANDRA",
 :name "Pinheiro Manso",
 :href-id #uuid "0f2498c8-b37e-32e4-8de3-851824661dd2",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/PinheiroManso792.aspx",
 :concelho "Paredes",
 :nec 692,
 :cp7 "4585-248",
 :id #uuid "8e24ee07-b865-3853-a7d8-5e57a9e7d61e",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Paredes"}
