{:address "Lugar de Tourilhe 4580 -753 SABROSA",
 :name "Boa Formação",
 :href-id #uuid "890d676d-c628-3b49-ba71-43a085eceb30",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/BoaFormacao247.aspx",
 :concelho "Paredes",
 :nec 1169,
 :cp7 "4580-753",
 :id #uuid "077fc9e5-6ad0-31cb-9f6a-dfc6d46a7953",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Paredes"}
