{:address "Largo Nuno Álvares Pereira, nº4 4580-170 PAREDES",
 :name "Asa",
 :href-id #uuid "9c30240d-1137-3b2a-a807-b44f377437e6",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Asa130.aspx",
 :concelho "Paredes",
 :nec 410,
 :cp7 "4580-170",
 :id #uuid "ead61692-23e8-37dd-8fc5-5832aed24c8f",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Paredes"}
