{:address "Avª de Angola Nº 67 B - 2530-114 Lourinhâ",
 :name "A Figueiredo",
 :href-id #uuid "dbe39dcc-d607-3115-9806-e44638195d59",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/AFigueiredo018.aspx",
 :concelho "Lourinhã",
 :nec 151,
 :cp7 "2530-114",
 :id #uuid "b6bee063-389b-3457-a2de-3d6fada7a06e",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Lourinh%C3%A3"}
