{:address "Rua Principal, Nº 1025 4525-189 CANEDO",
 :name "Canedo",
 :href-id #uuid "b2418d7f-4627-33a7-b0b7-61b4b21336ac",
 :distrito "Aveiro",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Canedo278.aspx",
 :concelho "Santa Maria da Feira",
 :nec 1168,
 :cp7 "4525-189",
 :id #uuid "62b92832-8af8-316d-98c2-aff4b01b3479",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Aveiro&Concelho=Santa%20Maria%20da%20Feira"}
