{:address "Urb. Quinta do Adro 2240 FERREIRA DO ZÊZERE",
 :name "Ferreira do Zêzere",
 :href-id #uuid "c9933531-6c61-36ee-8703-0c8f19de82b0",
 :distrito "Santarém",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/FerreiradoZezere451.aspx",
 :concelho "Ferreira do Zêzere",
 :nec 437,
 :cp7 "2240",
 :id #uuid "6e2ecea2-0665-351a-b75f-b60369f7b8c8",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Santarem&Concelho=Ferreira%20do%20Z%C3%AAzere"}
