{:address "Estrada Nacional nº 356, Campos -Maceira 2405-009 MACEIRA",
 :name "Da Maceira",
 :href-id #uuid "166f1f0c-312c-3244-9a9c-48c27ebf9531",
 :distrito "Leiria",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/DaMaceira357.aspx",
 :concelho "Leiria",
 :nec 694,
 :cp7 "2405-009",
 :id #uuid "26515c36-a601-3873-8816-900e45c7fd56",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Leiria&Concelho=Leiria"}
