{:address "Avenida Santo António, n.º 61; 4720-343 Ferreiros (Amares)",
 :name "Auto Dinâmica - Amares",
 :href-id #uuid "0e01d5fe-45d4-3708-8141-2db7ccd33f0f",
 :distrito "Braga",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/AutoDinamicaRibeiradePena152.aspx",
 :concelho "Amares",
 :nec 576,
 :cp7 "4720-343",
 :id #uuid "25a40fdf-1b40-37db-bfe0-cf44b4295369",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Braga&Concelho=Amares"}
