{:address
 "Rua Dr. Hilário de Almeida Pereira, nº 162-1º 3560-172 SÁTÃO",
 :name "Sátão",
 :href-id #uuid "0e49cc3c-015a-3590-9dd6-03bcd4df91fc",
 :distrito "Viseu",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Satao949.aspx",
 :concelho "Sátão",
 :nec 521,
 :cp7 "3560-172",
 :id #uuid "37a2d0ca-0655-32b8-8a2a-e76394df9bb2",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Viseu&Concelho=S%C3%A1t%C3%A3o"}
