{:address "Rua do Jardim n º 1339 4405-830 VILAR do PARAÍSO",
 :name "Vilar do Paraíso",
 :href-id #uuid "1164ee54-b65d-3b3a-85b0-bc46d5f1361a",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/VilardoParaiso1070.aspx",
 :concelho "Vila Nova de Gaia",
 :nec 1092,
 :cp7 "4405-830",
 :id #uuid "be324a54-ca1b-33ef-98d3-17faea40f596",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Vila%20Nova%20Gaia"}
