{:address "Rua Barão do Corvo n º 11 r/c 4400-039 VILA NOVA DE GAIA",
 :name "Cidade de Gaia",
 :href-id #uuid "c3603ad5-4bbc-35c5-8bb2-2a603b2ecb05",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/CidadedeGaia310.aspx",
 :concelho "Vila Nova de Gaia",
 :nec 697,
 :cp7 "4400-039",
 :id #uuid "e9667e60-5580-3af1-b983-f7bcfb5eb333",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Vila%20Nova%20Gaia"}
