{:address "Rua Delfim de Lima, nº 1955 - 1º 4410-227 CANELAS",
 :name "Nova Gaia",
 :href-id #uuid "da4e7c9f-84cf-32ee-a42e-117c233ac946",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/NovaGaia712.aspx",
 :concelho "Vila Nova de Gaia",
 :nec 532,
 :cp7 "4410-227",
 :id #uuid "a254045b-ea5e-3988-babc-dae62f720b3e",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Vila%20Nova%20Gaia"}
