{:address
 "Rua Bombeiros Voluntários, nº 60 5140-060 CARRAZEDA DE ANSIÃES",
 :name "Marisa",
 :href-id #uuid "b7698fdc-b37d-39d5-a295-cb78439ae59e",
 :distrito "Bragança",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Marisa631.aspx",
 :concelho "Carrazeda de Ansiâes",
 :nec 529,
 :cp7 "5140-060",
 :id #uuid "c582a01d-81e2-3f5e-b46c-b435f9dc72fc",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Braganca&Concelho=Carrazeda%20Ans%C3%A3es"}
