{:address "Rua D. Nuno Álvares Pereira, Nº 162-C 7570-239 GRÂNDOLA",
 :name "Andanças",
 :href-id #uuid "595ea8c3-4c6a-33db-8085-119ed9e8f5ba",
 :distrito "Setúbal",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Andancas.aspx",
 :concelho "Grândola",
 :nec 644,
 :cp7 "7570-239",
 :id #uuid "a168ae3c-5a6d-3fa4-801f-10a687693d19",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Setubal&Concelho=Grandola"}
