{:address "Av. Vasco da Gama n.º 76 r/c, 4490-410, PÓVOA de VARZIM",
 :name "Guedes Vieira - Póvoa do Varzim",
 :href-id #uuid "f08a8072-c286-3dfe-84d0-836f9f244b8f",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/GuedesVieiraPovoadoVarzim501.aspx",
 :concelho "Póvoa de Varzim",
 :nec 479,
 :cp7 "4490-410",
 :id #uuid "eb289911-51dc-387c-9fa3-2c2886d8e10a",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=P%C3%B3voa%20de%20Varzim"}
