{:address
 "Rua Santa Clara,Edificio Santa Clara, Loja 1 e 2 4750 -132 ARCOZELO",
 :name "Galo",
 :href-id #uuid "2bbd5a3e-7f3f-36fb-b683-d0eef6f66a83",
 :distrito "Braga",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Galo482.aspx",
 :concelho "Barcelos",
 :nec 818,
 :cp7 "4750-132",
 :id #uuid "96d8d3a7-0720-36a7-851a-25403475449c",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Braga&Concelho=Barcelos"}
