{:address "Rua 1.º de Maio, 81, Loja X, 7300-205 Portalegre",
 :name "Auto Portalegre",
 :href-id #uuid "21cc3538-5e42-3577-b543-422776fab02c",
 :distrito "Portalegre",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/AutoPortalegre170.aspx",
 :concelho "Portalegre",
 :nec 633,
 :cp7 "7300-205",
 :id #uuid "02f670ec-6e0e-3d17-98f1-22104019c771",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Portalegre&Concelho=Portalegre"}
