{:address "Avª Dr. Victor Faveiro, lote 3 3240-153 ANSIÃO",
 :name "Auto Volante das Serras de Ansião",
 :href-id #uuid "b98f6d1f-0d44-3f50-85d1-6e8d4539ea98",
 :distrito "Leiria",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/AutoVolantedasSerrasdeAnsiao179.aspx",
 :concelho "Ansião",
 :nec 894,
 :cp7 "3240-153",
 :id #uuid "0ff51a60-db7d-34b3-8dd4-9d139e0b24af",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Leiria&Concelho=Ansi%C3%A3o"}
