{:address
 "Rua Tenente Coronel Francisco Pedro Curado 5B, 6120-755 Mação",
 :name "Mação",
 :href-id #uuid "48b6f24e-7a08-3a71-adc2-3ffceb330cc4",
 :distrito "Santarém",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Abranjovem049.aspx",
 :concelho "Mação",
 :nec 1171,
 :cp7 "6120-755",
 :id #uuid "34232526-f88a-3ad2-add4-c0d2a1f385e6",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Santarem&Concelho=Ma%C3%A7%C3%A3o"}
