{:address "Rua Arqueólogo Mário Cardoso, n.º 565 ; 4835-076 Guimarães",
 :name "Guimaraescidade",
 :href-id #uuid "62dcb2cb-0b61-3316-b442-5bbe8c2d705d",
 :distrito "Braga",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Guimaraescidade.aspx",
 :concelho "Guimarães",
 :nec 1312,
 :cp7 "4835-076",
 :id #uuid "9211fefb-dfc7-3dbb-86fb-f8a423fab0d1",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Braga&Concelho=Guimar%C3%A3es"}
