{:address "Avª Dr. Paulo Marcelino-Covas 4840-100 MOIMENTA",
 :name "Terras do Bouro",
 :href-id #uuid "d669137b-cb40-3f07-9834-bde44aec81e3",
 :distrito "Braga",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/TerrasdoBouro1006.aspx",
 :concelho "Terras de Bouro",
 :nec 778,
 :cp7 "4840-100",
 :id #uuid "9f57b9bf-671f-3dfb-9be3-b86ba791eff5",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Braga&Concelho=Terras%20Bouro"}
