{:address "Rua Dr. Francisco Xavier Araújo 4840-100 MOIMENTA",
 :name "Gerês",
 :href-id #uuid "e1713cad-7f1a-3001-8371-eba73917da5d",
 :distrito "Braga",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Geres485.aspx",
 :concelho "Terras de Bouro",
 :nec 829,
 :cp7 "4840-100",
 :id #uuid "333cd72f-eac1-3e92-bb57-694aa34be572",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Braga&Concelho=Terras%20Bouro"}
