{:address
 "AvªGeneral Humberto Delgado, Nº 491 Fracção E 4730-717 VILA VERDE",
 :name "Verde Vila",
 :href-id #uuid "56be972b-782e-304a-8c3c-f6fd78a32533",
 :distrito "Braga",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/VerdeVila1046.aspx",
 :concelho "Vila Verde",
 :nec 1128,
 :cp7 "4730-717",
 :id #uuid "6b441cf8-02c3-31f7-b2f7-e8c5ddfa7a22",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Braga&Concelho=Vila%20Verde"}
