{:address "Avª de Palmela, Nº 18-C 2965-301 POCEIRÃO",
 :name "Poceirense",
 :href-id #uuid "06d868e9-40b0-3444-b307-a228ef080144",
 :distrito "Setúbal",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Poceirense795.aspx",
 :concelho "Palmela",
 :nec 1222,
 :cp7 "2965-301",
 :id #uuid "0fdd25c2-4645-30ea-95aa-23f538f0582b",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Setubal&Concelho=Palmela"}
