{:address
 "Rua da Circunvalação-Urb. do Mealheiro lote 2, loja B 2695-214 PÓVOA SANTA IRIA",
 :name "Salvaterra",
 :href-id #uuid "5dd574f0-fd31-3cb2-b5d2-69d7c903c50c",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Salvaterra908.aspx",
 :concelho "Vila Franca de Xira",
 :nec 598,
 :cp7 "2695-214",
 :id #uuid "ddc3db66-672a-32e6-bee6-a2f2ac6472ac",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Vila%20Franca%20Xira"}
