{:address
 "Estrada de Arcena, lote 22 loja Dtª 2615 ALVERCA DO RIBATEJO",
 :name "Gago Coutinho",
 :href-id #uuid "fabf4314-dd79-3ddf-a150-a2787ec4537c",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/GagoCoutinho478.aspx",
 :concelho "Vila Franca de Xira",
 :nec 888,
 :cp7 "2615",
 :id #uuid "a0dfdf12-df80-396e-b3e3-eb1e23b4c862",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Vila%20Franca%20Xira"}
