{:address "Rua do Rosário, 5 – 2º 4050-523 PORTO",
 :archived-last-seen-at "2022-05-07T14:52:45Z",
 :name "A Desportiva – Palácio",
 :href-id #uuid "7604ef07-4e78-3dfb-81e0-0be3c6ee9fbf",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/ADesportiva%e2%80%93Palacio013.aspx",
 :concelho "Porto",
 :nec 464,
 :cp7 "4050-523",
 :id #uuid "dd02ded2-636f-3be7-8653-14164f72de37",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Porto"}
