{:address "RUA OLIVEIRA MONTEIRO, 172, 4050-523 Porto",
 :name "EONE I - Porto",
 :href-id #uuid "7604ef07-4e78-3dfb-81e0-0be3c6ee9fbf",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/ADesportiva%e2%80%93Palacio013.aspx",
 :concelho "Porto",
 :nec 464,
 :cp7 "4050-523",
 :id #uuid "9117ab7e-1c3d-392e-84f8-9a9987451be9",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Porto"}
