{:address
 "Rua Dr. Figueiredo Sobrinho, Nº 11 R/c Esq.º 4540-133 AROUCA",
 :name "Rainha Santa Mafalda",
 :href-id #uuid "1ef8369b-8f7f-353b-bf10-751810a584fc",
 :distrito "Aveiro",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/RainhaSantaMafalda836.aspx",
 :concelho "Arouca",
 :nec 600,
 :cp7 "4540-133",
 :id #uuid "c4b5bef4-259e-3efd-aebd-edc9db3cf333",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Aveiro&Concelho=Arouca"}
