{:address "Lugar do Cimo da Inha - Escariz 4544-001 AROUCA",
 :name "Actual",
 :href-id #uuid "be8e88c9-8df4-346f-9236-c8bb356bfa33",
 :distrito "Aveiro",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Actual057.aspx",
 :concelho "Arouca",
 :nec 1218,
 :cp7 "4544-001",
 :id #uuid "7a39c2a7-c4a3-3cb9-b572-ec7c02558b35",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Aveiro&Concelho=Arouca"}
