{:address
 "Rua Gil Vicente, Nº 1-1º Dtº 4785-321 S. MARTINHO (BOUGADO)",
 :name "Trofense",
 :href-id #uuid "36f04f48-7f6e-3132-ac97-a315f19624f7",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Trofense1025.aspx",
 :concelho "Trofa",
 :nec 417,
 :cp7 "4785-321",
 :id #uuid "42e5bfb8-234d-34c7-a93b-81e82628c9e0",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Trofa"}
