{:address
 "Rua Cardeal Alpedrinha, n.º 72 - A, 2500-843 CALDAS DA RAINHA",
 :name "Caldas",
 :href-id #uuid "059a6f18-0d50-3f53-9cd0-d284d3695af6",
 :distrito "Leiria",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Caldas.aspx",
 :concelho "Caldas da Raínha",
 :nec 1297,
 :cp7 "2500-843",
 :id #uuid "fdffe9cb-0ece-3c01-b1fc-e11154efacb4",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Leiria&Concelho=Caldas%20da%20Rainha"}
