{:address
 "Rua Sport Club de Freamunde, n.º208 r/c, 4590-397 Freamunde",
 :name "Ivo’s Driving Academy",
 :href-id #uuid "414346bc-a21e-3523-bdfa-1a03864e57b3",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Ivo%e2%80%99sDrivingAcademy.aspx",
 :concelho "Paços de Ferreira",
 :nec 1435,
 :cp7 "4590-397",
 :id #uuid "101d49cd-5e8f-3718-ad0a-dfd5bc93dfb5",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Pa%C3%A7os%20de%20Ferreira"}
