{:address "Rua dos Pescadores n.º 19, 4480-804 Vila do Conde",
 :name "Sousa & Batista",
 :href-id #uuid "ed1bf09b-0b65-307b-b5ab-dc7e84215c1f",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/SousaBatista.aspx",
 :concelho "Vila do Conde",
 :nec 851,
 :cp7 "4480-804",
 :id #uuid "a2b416ef-5168-387f-84e7-f017b30ff2d3",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Vila%20Conde"}
