{:address "Av. António Feijó, n.º 38, 4990-029 PONTE DE LIMA",
 :name "Limarense",
 :href-id #uuid "ac781a6e-5a8a-3499-9a5e-709aedcfd9ca",
 :distrito "Viana do Castelo",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Limarense598.aspx",
 :concelho "Ponte de Lima",
 :nec 120,
 :cp7 "4990-029",
 :id #uuid "497723d6-aa2f-3d96-88cc-73b7ccae298b",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=VianaCastelo&Concelho=Ponte%20de%20Lima"}
