{:address "Quinta da Carreira Lote 7 r/c Loja A 3500-098 VISEU",
 :name "Estrada Segura",
 :href-id #uuid "9d77ab83-851f-39ee-bf74-a5e1c0d5d33e",
 :distrito "Viseu",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/EstradaSegura420.aspx",
 :concelho "Viseu",
 :nec 1074,
 :cp7 "3500-098",
 :id #uuid "da925117-e8f9-369c-86a9-65f2f9c04763",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Viseu&Concelho=Viseu"}
