{:address
 "Rua Ernesto veiga de Oliveira, n.º 6 Loja B, 2780-052 Oeiras",
 :name "Lombos",
 :href-id #uuid "722f2195-e802-3719-bd3b-beec7f4ece3a",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Lombos.aspx",
 :concelho "Oeiras",
 :nec 1414,
 :cp7 "2780-052",
 :id #uuid "5091f35e-7136-3574-b2e6-4e70d936bb34",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Oeiras"}
