{:address "Av. de Alcanices, 21 - Bairro das Cruzes Vimioso",
 :name "S. Bartolomeu",
 :href-id #uuid "dc55446b-85c4-38a1-a16b-430305512f79",
 :distrito "Bragança",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/CarlosVaz285.aspx",
 :concelho "Vimioso",
 :nec 595,
 :cp7 nil,
 :id #uuid "86ea8129-2a86-35cf-927b-1307792d759e",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Braganca&Concelho=Vimioso"}
