{:address
 "Estrada da Variante – Edifício Novo 4870-163 RIBEIRA DE PENA (SALVADOR)",
 :name "Auto Dinâmica - Ribeira de Pena",
 :href-id #uuid "f1aefc07-995f-32de-8108-54620587af6f",
 :distrito "Vila Real",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/AutoDinamicaRibeiradePena153.aspx",
 :concelho "Ribeira da Pena",
 :nec 877,
 :cp7 "4870-163",
 :id #uuid "d145bebd-722f-3fad-b988-87fbfbf2a822",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=vilareal&Concelho=Ribeira%20de%20Pena"}
