{:address "Rua Palos de La Frontera, Lote 14, Loja A - 8600-707 LAGOS",
 :name "Hora de Ponta",
 :href-id #uuid "d44628b2-9002-3b3a-b999-d4c04d85881c",
 :distrito "Faro",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/HoradePonta.aspx",
 :concelho "Lagos",
 :nec 1277,
 :cp7 "8600-707",
 :id #uuid "6c709059-ec5f-32ca-9f97-5ecd2203561f",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Faro&Concelho=Lagos"}
