{:address "Av. Marquês de Pombal, n.º 382, 2380-014 Alcanena",
 :name "Origens",
 :href-id #uuid "b030ecc9-6b41-3ece-b6b3-2b56bc9ada44",
 :distrito "Santarém",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Origens.aspx",
 :concelho "Alcanena",
 :nec 1403,
 :cp7 "2380-014",
 :id #uuid "c1e67ec9-667c-3079-a63f-1ff86db12f67",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Santarem&Concelho=Alcanena"}
