{:address "Avenida Manuel Xavier, Fracção B - R/C ; 4910-105 Caminha",
 :name "Caminhense",
 :href-id #uuid "b864444f-f602-3fd0-8df5-517e8fcddc3c",
 :distrito "Viana do Castelo",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Caminhense271.aspx",
 :concelho "Caminha",
 :nec 294,
 :cp7 "4910-105",
 :id #uuid "2232a683-6a0b-3cf6-b2ed-9250d3133c59",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=VianaCastelo&Concelho=Caminha"}
