{:address "Bairro da Bela Vista 6355-201 VILAR FORMOSO",
 :name "Américo e Pires",
 :href-id #uuid "4668ef0d-d995-39a2-b2be-f47eb66cd149",
 :distrito "Guarda",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/AmericoePires103.aspx",
 :concelho "Almeida",
 :nec 892,
 :cp7 "6355-201",
 :id #uuid "e8ac3ae8-b81e-3d95-a0eb-691b1bb81a53",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Guarda&Concelho=Almeida"}
