{:address
 "Urbanização do Infante - Rua Ribeiro da Calva, Nº 4, Loja-C 2440-057 BATALHA",
 :name "Bagagem",
 :href-id #uuid "ae5bf260-6285-3871-bb16-f9ac50993c3c",
 :distrito "Leiria",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Bagagem210.aspx",
 :concelho "Batalha",
 :nec 1012,
 :cp7 "2440-057",
 :id #uuid "8c01b732-8798-3808-8beb-48fa510aea56",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Leiria&Concelho=Batalha"}
