{:address "Mouratos - Golpilheira 2440-042 BATALHA",
 :name "Batalhense",
 :href-id #uuid "fef99127-653a-3300-a62a-7c91e3e3a1e9",
 :distrito "Leiria",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Batalhense224.aspx",
 :concelho "Batalha",
 :nec 588,
 :cp7 "2440-042",
 :id #uuid "45c8c2ba-ac91-3c03-a7f6-27f1a3fc78c1",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Leiria&Concelho=Batalha"}
