{:address
 "Avª Camilo Tavares de Matos, nº 135 3730-240 VALE DE CAMBRA",
 :name "Cambrense",
 :href-id #uuid "11257735-1e38-3d1d-98de-7a0eb9b013dc",
 :distrito "Aveiro",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Cambrense270.aspx",
 :concelho "Vale de Cambra",
 :nec 347,
 :cp7 "3730-240",
 :id #uuid "202d3509-0ba1-3b9b-ad7a-401c4ead17d6",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Aveiro&Concelho=Vale%20de%20Cambra"}
