{:address "Estrada Nacional 11, 1P 233 , 2835-175 Baixa da Banheira",
 :name "Escola de Condução BXB",
 :href-id #uuid "a243b301-b789-3011-8b15-d1a4b333b790",
 :distrito "Setúbal",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/EC_BXB.aspx",
 :concelho "Moita",
 :nec 1104,
 :cp7 "2835-175",
 :id #uuid "1f79b2ac-10f6-3338-bc8c-eba59570cabb",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Setubal&Concelho=Moita"}
