{:address "Avenida das Laranjeiras, Edifício Panorama, Bloco B Anadia",
 :name "Via S",
 :href-id #uuid "5417efe7-084f-3c70-badc-bbc800cd03b0",
 :distrito "Aveiro",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Pampilhosa770.aspx",
 :concelho "Anadia",
 :nec 1087,
 :cp7 nil,
 :id #uuid "1626d6b0-c94d-3f52-a54b-be0024ce8efe",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Aveiro&Concelho=Anadia"}
