{:address "Rua António Fortunato de Sousa, n.º 71, 2870-059 MONTIJO",
 :name "Net Rodas",
 :href-id #uuid "13e6b19b-e5a0-3358-b19a-b12e1bb12608",
 :distrito "Setúbal",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/NetRodas.aspx",
 :concelho "Montijo",
 :nec 1273,
 :cp7 "2870-059",
 :id #uuid "46bfc6db-b957-32c6-a8b3-b49fafac7b19",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Setubal&Concelho=Montijo"}
