{:address "Rua Miguel Pais, Nº 65 2070-356 Montijo",
 :name "Silvano Saraiva",
 :href-id #uuid "6798f456-bd39-33c2-8395-9442f8219f9a",
 :distrito "Setúbal",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/SilvanoSaraiva971.aspx",
 :concelho "Montijo",
 :nec 416,
 :cp7 "2070-356",
 :id #uuid "8bae66fb-8043-33be-a6f0-f985a0e2c425",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Setubal&Concelho=Montijo"}
