{:address "Rua Padre António Vieira, Nº 189 8100-611 LOULÉ",
 :name "Louletana",
 :href-id #uuid "302b0179-94ec-3b76-9186-4ea42b828eb1",
 :distrito "Faro",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Louletana604.aspx",
 :concelho "Loulé",
 :nec 111,
 :cp7 "8100-611",
 :id #uuid "82173650-1a46-3ff6-8924-21afc42fe9df",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Faro&Concelho=Loul%C3%A9"}
