{:address "Largo do Mosteiro,Nº116 4435-346 RIO TINTO",
 :name "Rio Tinto",
 :href-id #uuid "e6b9f06d-0f3c-376c-8b46-f0495be71512",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/RioTinto859.aspx",
 :concelho "Gondomar",
 :nec 1182,
 :cp7 "4435-346",
 :id #uuid "f63c8fc6-f721-3030-b151-850bb8487dc7",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Gondomar"}
