{:address
 "Rua Eng.º Farinas de Almeida, n.º 339; 4510-260 São Pedro da Cova",
 :name "Dinâmica",
 :href-id #uuid "ed1e490b-3461-3c3c-a838-fa8de3d52fb5",
 :distrito "Porto",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Dinamica386.aspx",
 :concelho "Gondomar",
 :nec 790,
 :cp7 "4510-260",
 :id #uuid "0e537316-4e44-3014-87e7-b515a101e58b",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Porto&Concelho=Gondomar"}
