{:address "Avª de Moscavide, 14 – 1º Esqº 1885-066 MOSCAVIDE",
 :name "Confiança",
 :href-id #uuid "4c0e9727-fcef-3843-9a23-fa7a3380ce0d",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Confianca332.aspx",
 :concelho "Loures",
 :nec 117,
 :cp7 "1885-066",
 :id #uuid "af36c14a-55ad-3633-911d-dfd37f0deb7c",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Loures"}
