{:address
 "Rua Manuel José Cerqueira Afonso dos Santos, Lote 9-Loja Esq 2685-311 Prior Velho",
 :name "Prior Velho",
 :href-id #uuid "70701535-c688-3d44-ae00-1d5ceb946fb0",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/PriorVelho815.aspx",
 :concelho "Loures",
 :nec 1226,
 :cp7 "2685-311",
 :id #uuid "8512b50d-49f3-34d0-a0d4-2f57f9d16b5a",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Loures"}
