{:address "Rua Aviação Naval nº A e B -Glória 3810-055 AVEIRO",
 :name "Santa Joana",
 :href-id #uuid "7828f368-ecce-359f-af49-848344b2e56d",
 :distrito "Aveiro",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/SantaJoana923.aspx",
 :concelho "Aveiro",
 :nec 400,
 :cp7 "3810-055",
 :id #uuid "a229ee04-3cfa-336f-a536-756c15bb5a99",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Aveiro&Concelho=Aveiro"}
