{:address "Rua da Igreja, Nº 49 4900 -204 MEADELA",
 :name "Meadela",
 :href-id #uuid "5a837d0b-d6dd-3e9e-9445-b7949cb2395c",
 :distrito "Viana do Castelo",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Meadela637.aspx",
 :concelho "Viana do Castelo",
 :nec 777,
 :cp7 "4900-204",
 :id #uuid "1fc782e0-b0d4-3889-bd1c-8c4e0c780a7c",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=VianaCastelo&Concelho=Viana%20Castelo"}
