{:address
 "Largo João Tomás da Costa, 12 - 1º 4900-509 VIANA DO CASTELO (Stª Mª Maior)",
 :name "Sónia",
 :href-id #uuid "f3f0c988-2021-316c-9ab6-9c0dff9b1431",
 :distrito "Viana do Castelo",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Sonia980.aspx",
 :concelho "Viana do Castelo",
 :nec 486,
 :cp7 "4900-509",
 :id #uuid "1ec1b64a-f1ea-3670-b4d6-c2facd57b775",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=VianaCastelo&Concelho=Viana%20Castelo"}
