{:address
 "Alameda dos Oceanos, Páteo das Pirogas, Lote 4.43.01 A 1950-211 LISBOA",
 :name "Parque das Nações",
 :href-id #uuid "00a5734d-8605-34cb-b98c-02a56f093f4f",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/ParquedasNacoes773.aspx",
 :concelho "Lisboa",
 :nec 1263,
 :cp7 "1950-211",
 :id #uuid "46b95be3-ad7e-3ccf-a3cf-51b2ee1df061",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Lisboa"}
