{:address "Rua Basílio Teles, n.º 13, C, 1070-020 Lisboa",
 :name "Columbano",
 :href-id #uuid "0bc90421-747d-3135-88ae-5b80cb35e15e",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Columbano_.aspx",
 :concelho "Lisboa",
 :nec 964,
 :cp7 "1070-020",
 :id #uuid "23ce8b65-cdd4-3dee-ba8e-78f6d22c9f16",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Lisboa"}
