{:address "Rua D. Carlos de Mascarenhas, 76-A 1070-083 LISBOA",
 :name "Campolide",
 :href-id #uuid "6d397ffc-2b46-39f9-b0b3-335208fc90a3",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Automovel191.aspx",
 :concelho "Lisboa",
 :nec 38,
 :cp7 "1070-083",
 :id #uuid "473206e9-8bdd-3096-8f6a-9cd2a22d6fed",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Lisboa"}
