{:address "Rua João Ortigão Ramos n º 1 –1ºEsq 1500-361 LISBOA",
 :name "Benficartas",
 :href-id #uuid "c4910c5b-56db-3272-a314-df36917a5d76",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Benficartas244.aspx",
 :concelho "Lisboa",
 :nec 405,
 :cp7 "1500-361",
 :id #uuid "7aea9218-3cab-3ce5-ba7b-92f351729b3e",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Lisboa"}
