{:address
 "Rua Comendador Alfredo Álvares de Carvalho (Lugar de Barrio), 4880-239 MONDIM DE BASTO",
 :name "A Nova Mondinense",
 :href-id #uuid "fd4f9f0a-b3de-39f3-8e98-36e4fa066a08",
 :distrito "Vila Real",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/ANovaMondinense035.aspx",
 :concelho "Mondim de Basto",
 :nec 780,
 :cp7 "4880-239",
 :id #uuid "97d8c522-41f2-3d4e-b32f-4ec34786b72d",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=vilareal&Concelho=Mondim%20Basto"}
