{:address
 "Bairro Nossa Senhora de Oliveira, lote 1 R/C 2135-202 SAMORA CORREIA",
 :name "Samorense",
 :href-id #uuid "26719b45-4df6-38a0-8472-fc7fbe3d0e89",
 :distrito "Santarém",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Samorense913.aspx",
 :concelho "Benavente",
 :nec 688,
 :cp7 "2135-202",
 :id #uuid "05fadca3-ff5a-3913-91cb-8cafa5df9244",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Santarem&Concelho=Benavente"}
