{:address "Estação de Comboios dos Foros da Amora loja 18",
 :name "Forus",
 :href-id #uuid "144bea86-0843-34e0-86bd-1d69a250c914",
 :distrito "Setúbal",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Forus.aspx",
 :concelho "Seixal",
 :nec 1392,
 :cp7 nil,
 :id #uuid "d77c278d-0ade-3a68-8077-689dada9eb81",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Setubal&Concelho=Seixal"}
