{:address "Rua das Flores, 8 loja C 2845-367 AMORA",
 :name "Amorense",
 :href-id #uuid "e10c8b3d-9feb-3e7a-9847-3161c622315d",
 :distrito "Setúbal",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Amorense104.aspx",
 :concelho "Seixal",
 :nec 538,
 :cp7 "2845-367",
 :id #uuid "642ce38a-6e12-3130-a13c-1c60d8090b47",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Setubal&Concelho=Seixal"}
