{:address "Rua Mercedes Carlos Campeão , Nº 12 R/C 2460-067 ALCOBAÇA",
 :name "Batalhense de Alcobaça",
 :href-id #uuid "a884b915-9f3c-3aee-a7f7-866fab35129c",
 :distrito "Leiria",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/BatalhensedeAlcobaca227.aspx",
 :concelho "Alcobaça",
 :nec 961,
 :cp7 "2460-067",
 :id #uuid "f46b3ee9-f3e6-37b9-bd49-04b3b10abcd9",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Leiria&Concelho=Alcoba%C3%A7a"}
