{:address "Estrada Nacional - Currelos 3430-000 CARREGAL DO SAL",
 :name "Automobilista do Carregal do Sal",
 :href-id #uuid "1dd66cc3-eb57-3491-8b82-d691cb53a210",
 :distrito "Viseu",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/AutomobilistadoCarregaldoSal185.aspx",
 :concelho "Carregal do Sal",
 :nec 311,
 :cp7 "3430-000",
 :id #uuid "f015f139-10ab-3d72-91a2-d7d115e1875d",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Viseu&Concelho=Carregal%20do%20Sal"}
