{:address
 "Rua Nossa Senhora das Febres- Edf Salylenda, Lt A, Nº 12 R/C Dtº 3430-039 CARREGAL DO SAL",
 :name "Salizcruz",
 :href-id #uuid "a96366fd-b92c-3f19-b789-c3a6b34fceb9",
 :distrito "Viseu",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Salizcruz907.aspx",
 :concelho "Carregal do Sal",
 :nec 897,
 :cp7 "3430-039",
 :id #uuid "e2384fb3-9feb-3ee8-adea-ed2f567e149e",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Viseu&Concelho=Carregal%20do%20Sal"}
