{:address "Rua António Jesus André, n.º 10, Loja 2825-146 CAPARICA",
 :name "Universia",
 :href-id #uuid "4740aa02-d2b9-3b75-bdd9-97f6474c6d07",
 :distrito "Setúbal",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Universia.aspx",
 :concelho "Almada",
 :nec 1305,
 :cp7 "2825-146",
 :id #uuid "dd78b043-5805-3cb0-b9dd-ad66ff7a6473",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Setubal&Concelho=Almada"}
