{:address "Praça da Liberdade, Piso 1, Loja M, 2800-648 ALMADA",
 :name "Nova Asseiceira",
 :href-id #uuid "6570d1fa-e97a-39e1-9258-b1567d94c77e",
 :distrito "Setúbal",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/NovaAsseiceira701.aspx",
 :concelho "Almada",
 :nec 1215,
 :cp7 "2800-648",
 :id #uuid "b00f102c-f507-33d9-be48-04f69ac705d5",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Setubal&Concelho=Almada"}
