{:address
 "Rua Eleutério Teixeira – Urb. Jardins D´ Água Lt 27 2825 MONTE DA CAPARICA",
 :name "Madalena e Fonseca",
 :href-id #uuid "b0c0a3c1-1bfb-30af-816d-36f4c205edb8",
 :distrito "Setúbal",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/MadalenaeFonseca617.aspx",
 :concelho "Almada",
 :nec 1060,
 :cp7 "2825",
 :id #uuid "923cd579-9862-312d-9468-87ac4cc8dc92",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Setubal&Concelho=Almada"}
