{:address "Rua 21, n.º 410; 4520-258 Espinho",
 :archived-last-seen-at "2022-05-07T14:52:45Z",
 :name "A Desportiva - Espinho",
 :href-id #uuid "fadd5928-adbb-36b4-9196-253b2360f09c",
 :distrito "Aveiro",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/ADesportivaEspinho011.aspx",
 :concelho "Espinho",
 :nec 463,
 :cp7 "4520-258",
 :id #uuid "1cd0898e-0cc2-32ea-a279-8440c41b9ea2",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Aveiro&Concelho=Espinho"}
