{:address "Avª dos Bombeiros Voluntários nº 67 – 1º 2580-289 ALENQUER",
 :name "Ideal de Alenquer",
 :href-id #uuid "5e18abd2-bdf7-3da8-b622-d256b4568e36",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/IdealdeAlenquer513.aspx",
 :concelho "Alenquer",
 :nec 154,
 :cp7 "2580-289",
 :id #uuid "f8961c57-3b02-3164-88db-c42d20d8aeae",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Alenquer"}
