{:address
 "Rua Dr. Júlio Constantino, Edificio Primitivo - N.º 73 E C/v -1 Nº 1 - 2495-447 Fátima",
 :name "Destinus",
 :href-id #uuid "ac9d50ed-b615-3218-897d-b63491dfff65",
 :distrito "Santarém",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Destinus383.aspx",
 :concelho "Ourém",
 :nec 857,
 :cp7 "2495-447",
 :id #uuid "194b7c17-988f-3c00-a052-9a10b66a7a6d",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Santarem&Concelho=Our%C3%A9m"}
