{:address "Travessa Horácio Queirós, n.º 154 ; 4740-444 Forjães",
 :name "Rio Neiva",
 :href-id #uuid "2b5f7297-8928-3cee-936c-378ac88a562a",
 :distrito "Braga",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/RioNeiva858.aspx",
 :concelho "Esposende",
 :nec 1125,
 :cp7 "4740-444",
 :id #uuid "4e156ec9-5711-310a-a6e1-7fa9c996c986",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Braga&Concelho=Esposende"}
