{:address "Estrada Nacional - Crato 7430-131 CRATO",
 :name "Crato",
 :href-id #uuid "76237836-753c-3c7f-b14b-e2f240c11d34",
 :distrito "Portalegre",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Crato348.aspx",
 :concelho "Crato",
 :nec 248,
 :cp7 "7430-131",
 :id #uuid "328aae9b-a2a8-38db-9ff4-9a3d1a669b0c",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Portalegre&Concelho=Crato"}
