{:address "Av. Biarritz, n.º 4 A 2765-200 Estoril",
 :name "Tamariz",
 :href-id #uuid "6e82bd72-0821-3f1a-bd10-ff22d5a72f86",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Tamariz.aspx",
 :concelho "Cascais",
 :nec 693,
 :cp7 "2765-200",
 :id #uuid "5db98ec4-2907-39d8-9a10-ad1f12c7c6db",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Cascais"}
