{:address "Estrada da Torre, lote B - 13 2775-688 CARCAVELOS",
 :name "Carcavelos",
 :href-id #uuid "94352fc2-2333-3a44-88ce-b3e8f9990e64",
 :distrito "Lisboa",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Carcavelos284.aspx",
 :concelho "Cascais",
 :nec 389,
 :cp7 "2775-688",
 :id #uuid "6a0b6034-ac65-38e1-bebb-6370271cadab",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Lisboa&Concelho=Cascais"}
