{:address "Rua Cândido dos Reis, n.º 7 B 7750-337 Mértola",
 :name "Planície",
 :href-id #uuid "1d26b950-96cf-36e7-a131-aac6e10341cf",
 :distrito "Beja",
 :imt-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/Plan%c3%adcie.aspx",
 :concelho "Mértola",
 :nec 1296,
 :cp7 "7750-337",
 :id #uuid "0ea7096a-5a9d-3691-98bd-da3cf93a8817",
 :concelho-href
 "https://www.imt-ip.pt/sites/IMTT/Portugues/EnsinoConducao/LocalizacaoEscolasConducao/Paginas/LocalizacaoEscolasConducao.aspx?Distrito=Beja&Concelho=M%C3%A9rtola"}
